<ion-header>
   <ion-toolbar [color]="isAndroid ? 'royal' : 'primary'">
     <ion-title>Send Message</ion-title>
        <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  	   <ion-item>
      <ion-label>Select a Catergories </ion-label>
      <ion-select [(ngModel)]="selection">
         <ion-option value="phone_base">Phone Number Base</ion-option>
          <ion-option value="individual">Individual Recipient</ion-option>
       <ion-option value="group">Group Recipient</ion-option>
       <ion-option value="manual">Manual Phone number insert</ion-option>
      </ion-select>


    </ion-item>

    <ion-item *ngIf="selection === 'phone_base'">
      <ion-label>Select an Option </ion-label>
      <ion-select [(ngModel)]="via">
         <ion-option *ngFor="let item of result" [value]="item.id">{{item.group_name}}</ion-option>
      </ion-select>


    </ion-item>

     <ion-item *ngIf="selection === 'individual'">
     <ion-input  name="title" placeholder="Enter a Phone number" type="text"></ion-input>
     </ion-item>


    <ion-item>
    <ion-label floating>Title of Message</ion-label>
    <ion-input  name="title" type="text"></ion-input>
  </ion-item>



    <!--<ion-label floating>Password</ion-label> -->
   <ion-textarea name="message" placeholder="Type your message here" type="password"></ion-textarea>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block outline>SEND SMS</button>
  </div>

</ion-content>
