<ion-header>
   <ion-toolbar [color]="isAndroid ? 'royal' : 'primary'">
     <ion-title>Send Broadcast</ion-title>
        <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br /><br />
   <img src="assets/imgs/broadcast.png" />
  <br /><br />

 <!-- <form [formGroup]='form' (ngSubmit)="send()"> -->
  <ion-list>
  	   <ion-item>
      <ion-label>Select a Catergories </ion-label>
      <ion-select [(ngModel)]="selection">
         <ion-option value="phone_base">Phone Number Base</ion-option>
          <ion-option value="individual">Individual Recipient</ion-option>
       <ion-option value="group">Group Recipient</ion-option>
       <ion-option value="manual">Manual Phone number insert</ion-option>
      </ion-select>


    </ion-item>

    <ion-item *ngIf="selection === 'phone_base'">
      <ion-label>Select an Option </ion-label>
      <ion-select [(ngModel)]="via">
         <ion-option *ngFor="let item of result" [value]="item.id">{{item.group_name}}</ion-option>
      </ion-select>


    </ion-item>

     <ion-item *ngIf="selection === 'individual'">
     <ion-input  name="title" placeholder="Enter a Phone number" type="number"></ion-input>
     </ion-item>

      <ion-item *ngIf="selection === 'group'">
      <ion-label>Select an Option </ion-label>
      <ion-select [(ngModel)]="via">
         <ion-option *ngFor="let item of groups" [value]="item.id">{{item.name}}</ion-option>
      </ion-select>
</ion-item>

<ion-item *ngIf="selection === 'manual'">
    <ion-input  name="title" placeholder="Enter a Phone number" type="number"></ion-input>
     </ion-item>


     <ion-item>
      <ion-label>Send via </ion-label>
      <ion-select>
         <ion-option disabled="true" selected="true" value="sms">SMS</ion-option>
      </ion-select>


    </ion-item>


    <ion-item>
    <ion-label floating>Sender's name</ion-label>
    <ion-input maxlength="11" name="title" type="text"></ion-input>
  </ion-item>



    <!--<ion-label floating>Password</ion-label> -->
   <ion-textarea name="message" placeholder="Type your message here" type="password"></ion-textarea>
   <br /><br />
   <button type="submit" [disabled]="" ion-button color="secondary" block outline>Send</button> 
  </ion-list>

</ion-content>
